.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 75vw;
    margin: 2rem auto;
    padding: 20px;
    background-color: var(--color-background-secondary);
    color: var(--color-primary);
    border: var(--border1);
    box-shadow: var(--box-shadow1);
    border-radius: 10px;
  }
  
  .profile-image-container {
    max-width: 20vw;
    flex: 0 0 auto;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 80%;
    height: auto;
    object-fit: cover;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-left: 1vw;
    align-items: center;
  }
  
  .profile-name {
    font-size: var(--font-size5);
    color: var(--color-primary);
    margin-bottom: 0.1rem;
  }
  
  .profile-email {
    font-size: var(--font-size3);
    color: var(--color-gray2);
  }
  
  .orders-section {
    width: 75vw;
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
    background-color: var(--color-background-secondary);
    color: var(--color-primary);
    border: var(--border1);
    box-shadow: var(--box-shadow1);
    border-radius: 10px;
    min-height: 20vh;
    overflow: hidden;
  }
  
  .order-item {
    background-color: var(--color-background-primary);
    color: var(--color-primary);
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  .order-title {
    font-size: var(--font-size5);
    color: var(--color-primary);
    margin-bottom: 0.5rem;
  }