:root {
  --transition-focus: transform 0.3s, box-shadow 0.3s;
  --transition-hover: translateY(-2px);

  --box-shadow1: 0 2px 4px var(--color-shadow1);
  --box-shadow2: 0 4px 8px var(--color-shadow2);

  --border1: 1px solid var(--color-primary);

  --font-size1: 0.875rem;
  --font-size2: 1rem;
  --font-size3: 1.25rem;
  --font-size4: 1.5rem;
  --font-size5: 2rem;
  --font-size6: 2.5rem;

  --navbar-size: 96px;

  --color-accent1: #e74c3c;
  --color-accent2: #f39c12;
  --color-accent3: #2ecc71;
  --color-accent4: #d3cd24;
  --color-white: #fff;
  --color-black: #000;
}

.light-mode {
  --color-background-primary: #fff;
  --color-background-secondary: #f9f9f9;

  --color-primary: #000;
  --color-secondary: #fff;

  --color-gray1: #ccc;
  --color-gray2: #333;
  --color-gray3: #5e5e5e;
  --color-gray4: #f0f0f0;

  --color-shadow1: rgba(0, 0, 0, 0.1);
  --color-shadow2: rgba(0, 0, 0, 0.2);

  --invert: invert(0);
}

.dark-mode {
  --color-background-primary: #141414;
  --color-background-secondary: #060606;

  --color-primary: #fff;
  --color-secondary: #000;

  --color-gray1: #333;
  --color-gray2: #ccc;
  --color-gray3: #a1a1a1;
  --color-gray4: #0f0f0f;

  --color-shadow1: rgba(255, 255, 255, 0.2);
  --color-shadow2: rgba(255, 255, 255, 0.1);

  --invert: invert(100%);
}
