.card {
    flex: 1;
    margin: 10px 24px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px --color-shadow1;
    transition: var(--transition-focus);
    text-decoration: none;
    color: var(--color-primary);
    min-width: 60vw;
    border: 1px solid var(--color-gray1);
}

.card:hover {
    transform: var(--transition-hover);
    box-shadow: var(--box-shadow2);
}

.card .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card .card-body {
    font-size: 1em;
}