.breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 0 8px 20px;
    padding: 12px 20px;
    background-image: linear-gradient(to right, #48D1CC, #76d7c4);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.breadcrumb-image {
    width: 24px;
}

.breadcrumb-item {
    display: inline;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
}

.breadcrumb-item:not(:last-child):after {
    padding: 0 8px;
    color: rgba(255, 255, 255, 0.8); ;
    content: "/\00a0";
}

.breadcrumb-text {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.breadcrumb-text:hover {
    text-decoration: underline;
    color: #dfe6e9;
}
