:root {
    --color-primary: #FFF;
    --color-secondary: #000;

    --color-accent1: #e74c3c;
    --color-accent2: #f39c12;
    --color-accent3: #2ecc71;
    --color-accent4: #d3cd24;

    --color-gray1: #ccc;
    --color-gray2: #333;

    --color-shadow1: rgba(0, 0, 0, 0.1);
    --color-shadow2: rgba(0, 0, 0, 0.2);

    --transition-focus: transform 0.3s, box-shadow 0.3s;
    --transition-hover: translateY(-2px);

    --box-shadow1: 0 2px 4px var(--color-shadow1);
    --box-shadow2: 0 4px 8px var(--color-shadow2);

    --border1: 1px solid var(--color-secondary);
}