.nav-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin: 0 20px;
}

.nav-link {
  display: inline-block;
  font-size: var(--font-size2);
  padding: 12px 24px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 700;
  border-radius: 8px;
  margin: 0 10px;
  transition: var(--transition-focus);
  box-shadow: var(--box-shadow1);
}

.nav-link:hover {
  transform: var(--transition-hover);
  box-shadow: var(--box-shadow2);
}

.park-map {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 10px;
  transition: var(--transition-focus);
  box-shadow: var(--box-shadow1);
}
