.ride-details {
  display: flex;
  align-items: flex-start;
  width: 80vw;
  height: 440px;
  border-radius: 10px;
  border: var(--border1);
  padding: 20px;
  margin: 0;
  color: var(--color-gray2);
  background-color: var(--color-background-secondary);
}

.ride-image {
  width: 400px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.ride-info {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size4);
  margin: 0;
  padding: 0;
}

.ride-title {
  font-size: var(--font-size6);
  padding: 0;
  margin: 0;
}

.ride-description {
  font-size: var(--font-size4);
  padding: 0;
  margin: 0;
  min-height: 200px;
}

.ride-details-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: var(--border1);
  padding: 2px;
}

.icon {
  margin: 0;
  margin-top: 3px;
  height: 48px;
  width: 48px;
  margin-right: 16px;
  -webkit-filter: var(--invert);
  filter: var(--invert);
}

.ride-details-text {
  font-size: var(--font-size4);
}
